.vs/
datasets/
html/
node_modules/

#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
#Nuget packages folder
packages/
*.unityproj
*.unitypackage
*.apk
script/unity/MemoryCards/Library/
script/unity/MemoryCards/Logs/
script/unity/MemoryCards/UserSettings/
script/unity/MemoryCards/Temp/
script/unity/Platformer/Library/
script/unity/Platformer/Logs/
script/unity/Platformer/UserSettings/
script/unity/Platformer/Temp/
script/unity/Core3D/Library/
script/unity/Core3D/Logs/
script/unity/Core3D/UserSettings/
script/unity/Core3D/Temp/
script/unity/3rdPerson/Library/
script/unity/3rdPerson/Logs/
script/unity/3rdPerson/UserSettings/
script/unity/3rdPerson/Temp/
script/unity/ClassicRPG/.plastic/
script/unity/ClassicRPG/Library/
script/unity/ClassicRPG/Logs/
script/unity/ClassicRPG/UserSettings/
script/unity/ClassicRPG/Temp/
script/unity/BouncingDonut/Library/
script/unity/BouncingDonut/Logs/
script/unity/BouncingDonut/UserSettings/
script/unity/BouncingDonut/Temp/
script/unity/DotGame/Library/
script/unity/DotGame/Logs/
script/unity/DotGame/UserSettings/
script/unity/DotGame/Temp/
script/unity/Agents/Library/
script/unity/Agents/Logs/
script/unity/Agents/UserSettings/
script/unity/Agents/Temp/
